/* NOT: "Ctrl+Ö" kısayolu ile açıklama satırı oluşturabiliyoruz */

/************** Layout  ***************/
body {
  background-color: black; /* "background-color: black;" Kodu sekme'nin arka plan rengini değiştirir. */
  color: white;
  font-family: "Roboto", sans-serif; /* "font-family:" Yazının font unun değişmesini sağlar. Onun dışında google den de font alabilirsin. */
}

/* 
h2 {
  color: blue;
  font-size: 4px;
} */

/* "text-transform: uppercase;" kodu küçük harfleri (Başlık) büyük harfe çevirir (BAŞLIK). */
h2 {
  color: red;
  font-size: 74px;
  text-transform: uppercase;
}
p {
  font-size: 40px;
}

ul {
  color: blue;
}
